<nz-layout class="layout">
  <nz-sider>
    <div class="logo">
      <img 
      src="https://static.vecteezy.com/system/resources/previews/009/749/751/original/avatar-man-icon-cartoon-male-profile-mascot-illustration-head-face-business-user-logo-free-vector.jpg"
      alt="Avatar" class="avatar">
      <div class="user-info">
        <strong>Eduardo</strong>
      </div>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline">
      <li nz-menu-item routerLink="/"> 
        <span nz-icon nzType="dashboard"></span>
        <span>Dashboard</span>
      </li>
      <li nz-menu-item routerLink="/renda"> 
        <span nz-icon nzType="fund"></span>
        <span>Renda</span>
      </li>
      <li nz-menu-item routerLink="/despesa"> 
        <span nz-icon nzType="fall"></span>
        <span>Despesa</span>
      </li>
    </ul>
  </nz-sider>

  <nz-layout class="right-layout">
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
